# CODESYS Sync local files
*.log
*.tmp
*.bak
/.diff/
/.diff/*

# CODESYS temporary and build files
*.~u
*.precompilecache
*.opt
*.bootinfo
*.bootinfo_guids
*.compileinfo
*.simulation.bootinfo
*.simulation.bootinfo_guids
*.simulation.compileinfo
