# Git LFS configuration for CODESYS project binary
*.project filter=lfs diff=lfs merge=lfs -text

# Prevent line ending conversion for CODESYS Structured Text files
*.st -text

# GitHub linguist language detection
*.st linguist-language=Pascal
